<div class="em-wrapper-footer">
  <div class="em-footer-style07">
    <div class="em-footer-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-24">
            <div class="em-footer-info">
              <div class="row">
                <div class="col-sm-24">
                  <div class=" four-block-middle">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="em-footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-24">
            <div class="em-footer-address"> &copy; <%= Date.current.year %> Auction</div>
          </div>
        </div>
      </div>
    </div><!-- /.em-footer-bottom -->
  </div>
</div><!-- /.em-wrapper-footer -->
